#fh5co-main { padding-top: 5em; }
#fh5co-board .item { margin: 10px 10px 20px 10px; background: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; overflow: hidden; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
#fh5co-board .item a { display: block; }
#fh5co-board .item .fh5co-desc { padding: 20px; float: left; line-height: 24px; }
#fh5co-board .item .fh5co-item-title { font-family: "Montserrat", arial, sans-serif; font-size: 17px; line-height: 24px; margin: 0; padding: 0; }
#fh5co-board .item img { max-width: 100%; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
#fh5co-board .item .fh5co-board-img { border-top-left-radius: 4px; border-top-right-radius: 4px; overflow: hidden; }
#fh5co-board .item .image-popup:hover img { opacity: .5; }